@if (book) {
  <div class="card mb-4">
    <div class="card-body bg-light">
        <img class="img-thumbnail float-end" alt="" src="https://api.angular.schule/avatar/{{ book.rating }}">
      <div class="card-title">
        <h2>
          {{ book.title }} - {{ book.price }} €
          <span class="badge bg-secondary">{{ book.rating }}</span>
        </h2>
      </div>
      <p>{{ book.description }}</p>

      <button type="button" class="btn btn-primary me-2" (click)="book.rating = book.rating - 1">-1</button>
      <button type="button" class="btn btn-primary"  (click)="book.rating = book.rating + 1">+1</button>
    </div>
  </div>
}

<!-- #6901a2 -->
